
<style>


.repeatHoriz {
  width: 10px;
  height: 4px;
  margin: 0px;
  padding: 0px;
  background-image: url(slashBar.jpg);
  background-repeat: repeat-x;
  background-position: center;
}

</style>
